    * {
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        padding-top: 20px;
        height: 60px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        text-align: center;
        position: fixed;
    }
    
    header a {
        margin-left: 40px;
        color: rgb(0, 0, 0);
    }
    
    body {
        height: 1200px;
        background-image: url(images/pexels.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .whats {
        width: 80px;
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
    
    .tv {
        width: 120px;
    }
    
    .box1 {
        position: relative;
        top: 150px;
    }