@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(images/pexels-michael-morse-2606405.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.2em;
    color: rgb(116, 99, 3);
}

section {
    background-color: rgba(255, 254, 247, 0.808);
    margin: 5% 20%;
    padding: 1%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
    border-radius: 1.8%;
    ;
}

h1 {
    text-align: center;
    margin: 0 0 2%;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.7em;
}

fieldset {
    margin: 1% 5%;
    padding: 1%;
}

div {
    margin: 1.5%;
}

label {
    margin: 1%;
}

legend {
    text-align: center;
}

button {
    padding: 1px 3px;
}

input {
    background-color: rgba(221, 199, 76, 0.212);
    border: 1px dotted black;
}

textarea {
    background-color: rgba(221, 199, 76, 0.212);
    border: 1px dotted black;
}

select {
    background-color: rgba(221, 199, 76, 0.212);
    border: 1px dotted black;
}