    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: rgb(240, 240, 240);
        text-align: center;
    }
    
    img {
        width: 160px;
    }
    
    fieldset {
        padding: 20px;
        background-color: rgb(255, 255, 255);
        width: 600px;
        height: 400px;
        margin: auto;
    }
    
    legend {
        font-size: 1.5em;
        padding-bottom: 60px;
        text-align: center;
    }
    
    div {
        padding-bottom: 20px;
    }
    
    form {
        margin-left: 80px;
        text-align: left;
    }
    
    textarea {
        width: 300px;
        height: 50px;
    }
    
    #botaomaior {
        padding: 10px;
        width: 80px;
    }
    
    #botaomenor {
        margin-left: 10px;
        padding: 5px;
    }