@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100&family=Kaisei+HarunoUmi:wght@400;500;700&display=swap');
* {
    margin: 0;
}

header {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(214, 231, 199));
    font-size: 1.3em;
    text-align: center;
    padding: 30px;
}

.box {
    width: 100vw;
    background-image: url(image/foto-joinville.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-indent: 20px;
    text-align: justify;
}

main {
    width: 800px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.76);
    font-size: 1.2em;
    display: block;
    margin: auto;
}

h1 {
    font-size: 2em;
}

h2 {
    padding-top: 30px;
}

.ajustes {
    padding-bottom: 20px;
    text-align: center;
}

footer {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color: white;
    background-color: rgb(2, 1, 1);
    text-align: center;
    height: 40px;
    padding: 20px;
}

iframe {
    display: block;
    margin: auto;
    padding-bottom: 30px;
}

img {
    width: 50px;
}

link {
    padding-top: 20px;
}