@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(https://images.pexels.com/photos/1174732/pexels-photo-1174732.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.2em;
    color: rgb(87, 87, 87);
    font-family: 'Roboto', sans-serif;
}

.main-menu {
    list-style-type: none;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 80px;
}

.main-menu img {
    height: 80px;
    padding-right: 9%;
}

.main-menu a {
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-size: 1.15fundoem;
}

.main-menu button {
    width: 100px;
    height: 30px;
    font-size: 1.1em;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(0, 0, 0);
}

.main-menu a:hover {
    color: rgb(45, 0, 66)
}

.main-menu button:hover {
    background-color: rgb(255, 255, 255);
}

section {
    background-color: rgba(236, 253, 252, 0.808);
    margin: 5% 20%;
    padding: 1%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
    border-radius: 1.8%;
    ;
}

h1 {
    text-align: center;
    margin: 0 0 2%;
    cursive;
    font-size: 1.5em;
}

h1::first-letter {
    font-size: 1.5em;
}

h2 {
    text-align: center;
    font-size: 1.1em;
}

fieldset {
    margin: 1% 5%;
    padding: 1%;
}

div {
    margin: 1.5%;
}

label {
    margin: 1%;
}

button {
    padding: 1px 3px;
    color: rgb(80, 59, 6)
}

input,
textarea,
select {
    background-color: rgba(199, 247, 253, 0.212);
    border: 1px dotted black;
    color: rgb(116, 85, 8);
}

input:focus,
textarea:focus {
    color: rgb(83, 82, 79);
}

.centered,
legend {
    text-align: center;
}

option {
    color: rgb(83, 82, 79)
}

input:hover,
select:hover {
    color: rgb(54, 44, 17);
    transform: scale(1.05)
}

input:checked {
    transform: scale(1.2);
}

input[type="radio"]:checked {
    transform: scale(1.2);
}

option:checked {
    transform: scale(2);
}