body {
    background-color: rgb(248, 225, 195);
    text-indent: 20px;
    text-align: justify;
}

h1 {
    color: blue;
}

.job-title {
    color: rgb(255, 244, 205);
    background-color: blue;
    font-size: 20px;
}

#high {
    color: blue;
}

ul {
    background-color: rgb(71, 71, 71);
    color: floralwhite;
    text-decoration: none;
}